<% provide(:title, "Home") %>
<div class="fullscreen-block">
    <div class="page-body">
        <br>
        <h1>Create Campaigns, get results</h1>
        <p class="static-anim-text">with Tipit</p>
        <br>
        <br>
        <div class="video-space">
            <p>Blank space here for YouTube video.</p>
        </div>
        <br>
        <br>
        <div class="text-center see-how">
            <button type="button" class="btn">Click Here To See How To Create An Effective Campaign</button>
        </div>
        <br>
        <br>
        <div class="text-center try-it">
            <button type="button" class="btn">Try it for free</button>
        </div>
    </div>
</div>
<div class="grey-home">
    <br>
    <br>
    <br>
    <h1 id="title">A Smart Platform, Designed to be Simple</h2>
</div>