<div class="fullscreen-block">
    <div class="page-body">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Create Campaigns, get results</h1>
        <div class="static-anim-text">
          <div>
            with
          </div>
          <div id="static-anim-text-tipit">
            tipit
          </div>
        </div>
        <br>
        <br>
        <p class="small-text">Engage with your audience. clients. customers.</p>
        <p class="small-text">Run Campaigns. Create leads. Reward users. </p>
        <br>
        <br>
        <div class="text-center try-it">
            <button type="button" class="btn">Try it for free</button>
        </div>
        <br>
        <br>
        <div class="video-space">
            <p>Blank space here for YouTube video.</p>
        </div>
    </div>
</div>
<div class="grey-home">
    <br>
    <br>
    <br>
    <h1 id="title">A Smart Platform, Designed to be Simple</h2>
</div>