<div id="wrapper">
    <%= render "layouts/side_bar" %>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div id="campaign-new">
                    <h1 id="title">New Campaign</h1>
                    <hr>
                    <br>
                    <br>
                    <div id="campaign-preview">
                        <%= render "form" %>
                    </div>
                </div>
            </div>
        </div>
</div>