@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootsy";
@import "font-awesome";
@import "switchery";
@import "jquery.minicolors";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic|Open+Sans:300);

$light-blue:       #0C8FFF;
$dark-blue:        #006BC7;
$background-color: #FDFDFD;
$nav-blue:         #006BC7;
$home-blue:        #0c8fff; /* Alt to this is #0f7fd2 which is darker */
$nav-grey:         #6f7c82;
$dark-hover:       #0F7EDE;
$alert-red:        #c11111;
$alert-green:      #0ea50e;
$newbackground:    #f9f9f9;
$campaign-title:   #353d41;

/* GENERAL RULES */
body {
    background: #fff;
}

a {
    font-family: 'Ubuntu', sans-serif;
}

.input-lg {
    &:focus {
        border: 1px solid $light-blue;
        box-shadow: 0 0 5px 1px $light-blue;
    }
}

.arrow {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 63px;
    height: 63px;
    transform: rotate(-45deg);
    margin-left: 100px;
}

.alert {
    text-align: center;
}

.alert-alert {
    color: $alert-red;
    background-color: white;
    border: 2px solid $alert-red;
    border-radius: 8px;
    margin: 0 30%;
    padding: 10px 10px;
}

.alert-notice {
    color: #fff; /* darker color: #009d1b */
    border: 2px solid #01b11f;
    margin: 0 30%;
    background: #01b11f;
    padding: 6px 6px;
    border-radius: 7px;
    font-size: 16px;
}

.row-centered {
    text-align:center;
    width: 100%;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.responsivebox {
    border-radius: 4px;
    border: 1px solid whitesmoke;
    padding-bottom: 5%;
    padding-top: 5%;
}

.btn-block { 
    background: linear-gradient(#62B1F5, #0C8FFF 85%, #46AAE4);
    border-color: white;
    transition: box-shadow 0.3s, border 0.3s;
    &:hover {
        border-color: $light-blue;
        box-shadow: 0 0 5px 1px $light-blue;
    }
}

.help-block {
    text-align: center;
}

.dark-blue-btn {
  background-color: #3c70db;
  color: white !important;
  border: 1px solid #3c70db;
  &:hover {
    background-color: white;
    color: #3c70db !important;
  }
}

.green-btn {
  background-color: #01b11f;
  color: white !important;
  border: 1px solid #01b11f;
  &:hover {
    background-color: white;
    color: #01b11f !important;
  }
}

/* HEADER */
#logged_in_nav {
    background-color: #2e2a39;
    border-color: #0c8fff;
    .container {
        .navbar-header {
            #logo {
                color: #ffffff;
                text-shadow: -1px -1px 0 #0c8fff, 1px -1px 0 #0c8fff, -1px 1px 0 #0c8fff, 1px 1px 0 #0c8fff;
                margin-top: 7px;
                &:hover {
                    color: #0C8FFF;
                    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #ffffff, 1px 1px 0 #fff;
                    text-decoration: none;
                    background-color: transparent;
                }
            }
        }
        .navbar-nav {
            .dropdown {
                .dropdown-toggle {
                    color: white;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    &:hover, &:active, &:focus {
                        color: #eee;
                        background-color: transparent;
                    }
                    .dropdown-menu {
                    }
                }
            }
            .ex {
                font-size: 14px;
                &:hover {
                    background-color: white;
                }
            }
            #login {
                
            }
        }
    }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    @media (max-width: 767px) {
        color: white;
        &:hover {
            color: #eee;
        }
    }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
    transition: background-color 0.3s;
}

#home-nav {
    background-color: #fff;
    border: none;
    height: 90px;
	.container {
		margin-top: 20px;
		.navbar-header {
			.navbar-toggle {
				border-color: white;
				&:focus {
					background-color: white !important;
					border-color: beige;
				}
				&:hover {
                border-color: $light-blue;
                background-color: white;
				}
			}
		}
		.navbar-nav {
			li {
				a {
					color: $light-blue;
                    padding: 15px 30px;
					font-size: 16px;
				}
				#login {
				    color: $light-blue;
				    &:hover {
				        color: #333;
				    }
				}
				.dropdown-menu {
					border: 1px solid white;
					li {
						a {
							color: #337ab7;
							font-weight: 600;
							&:hover {
								color: #23527c;
								background-color: #f4f4f4;
							}
						}
					}
				}
			}
		}
	}
}


#logo {
  float:          left;
  margin-right:   15px;
  margin-left:    10px;
  font-size:      2.5em;
  color:          black;
  letter-spacing: -1px;
  padding-top:    9px;
  font-weight:    bold;
  font-family: 'Roboto', sans-serif;

&:hover {
  color: $light-blue;
  text-decoration: none;
  background-color: white;
  }
}

#logo-sign-in {
  font-size:      1.5em;
  color:          #fff;
  letter-spacing: -1px;
  font-weight:    700;
  font-family: 'Roboto', sans-serif;
&:hover {
    color: #ffffff;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000000, 1px 1px 0 #000;
  }
}

#sign-in-up {
    background: radial-gradient(circle, #44a9ff 0%,#0068c1 100%);
    @media (max-width: 767px) {
        .row-centered {
            width: initial;
        }
    }
    h4 {
        font-family: 'Rubik', sans-serif;
    }
}

@media (min-width: 768px) {
    .navactive {
    color: black !important;
    border-bottom: 2px solid #07A2F5;
    }
}



/* Removes standard bootstrap grey when a is active  | ADD !important for it to overide Sign Up CSS */
.active {
    li {
        a {
            background-color: white;
        }
    }
}


/* HOME PAGE */

.jumbotron {
    width: 65%;
    margin-top: 5%;
    border-radius: 6px;
    h2 {
        margin-top: -4%;
    }
}

.fullscreen-block {
    height: 100vh;
    width: 100%;
    display: table;
}

.page-body {
    h1 {
        color: #1d1d1f;
        font-size: 3.1em;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }
    .static-anim-text {
        text-align: center;
        font-size: 2.2em;
        color: #1d1d1f;
        font-weight: 400;
        > div {
          vertical-align: top;
          display: inline-block;
        }
        #static-anim-text-tipit {
          color: #0C8FFF;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          font-size: 40px;
        }
    }
    .small-text {
        color: #768093;
        font-weight: 100;
        font-size: 21px;
        line-height: 1.3em;
        margin: 0 auto;
        text-align: center;
    }
    .video-space {
        padding: 100px 0px 100px 0px;
        border: 2px solid black;
        margin: 0 18%;
        p {
            text-align: center;
        }
    }
    .see-how {
        .btn {
            white-space: normal;
            background: #efd916;
            color: #000;
            border: 1px solid #ffffff;
            border-color: white;
            font-size: 16px;
            border-radius: 8px;
            font-weight: bold;
            text-shadow: 0 1px 1px #626262;
            padding: 13px 6px 13px 6px;
            transition: background 0.3s, color 0.3s;
            &:hover {
                background: #ffe929;
                color: #302e2e;
            }
        }
    }
    .try-it {
        .btn {
            white-space: normal;
            padding: 19px 26px;
            font-size: 21px;
            line-height: 21px;
            background: $home-blue;
            color: #fff;
            border: none;
            transition: background 0.3s;
            &:hover {
                background: $nav-blue;
            }
        }
    }
}

.grey-home {
    box-shadow: inset 0px 14px 65px -11px rgba(232, 235, 239, 1),inset 0px -14px 65px -11px rgba(232, 235, 239, 1);
    height: 300px;
    margin-top: -60px;
    #title {
        color: #353d41;
        font-weight: 900;
        font-size: 2.5em;
    }
}

/* HOME PT Search Engine */
.container {
    #top {
        margin-top: 7%;
    }
    hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #bottom {
        margin-bottom: 7%;
    }
}

/* SIGN UP Nav Bar */
.ex {
    border: 2px solid #006BC7;
    border-radius: 4px;
    background-color: #0C8FFF;
    color: white !important;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
        background-color: white;
        border: 2px solid #0C8FFF;
        color: #0C8FFF !important;
    }
}

/* SIGN UP MODAL */
.modal-content {
    padding: 0;
    border-radius: 0px;
    .loginmodal-container {
        .jumbotron {
            width: 100%;
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 0;
            border-radius: 0px;
            background-color: $light-blue;
            h3 {
                color: white;
            }
        }
        form {
            .btn {
                border-radius: 0px;
                border: 1px solid $light-blue;
                color: white;
                background-color: $light-blue;
                width: 30%;
                &:hover {
                    background-color: $dark-blue;
                }
            }
        }
    }
}

form {
    margin-left: 5%;
    margin-right: 5%;
    input {
        border: 1px solid #bbb;
        height: 50px;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}

/* DEBUG BOX */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Typography and Editable */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size:      2em;
  letter-spacing: -2px;
  margin-bottom:  30px;
  text-align:     center;
}

h2 {
  font-size:      1.8em;
  letter-spacing: -1px;
  margin-bottom:  30px;
  text-align:     center;
  font-weight:    normal;
  color: #332D2D;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* END Typography and Editable */

body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
    h1 {
        margin-bottom: 10px;
        
    }
}

.box {
  border-radius: 0px;
}

/* SIGN UP Page */

form {
    hr {
        width: 100% !important;
    }
}

#error_explanation {
    color: red;
    .alert-danger {
        background-color: white;
        border-color: white;
        color: red;
    }
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* NEW User create action flash */
div {
    .alert-success {
        background-color: white;
        border-color: #009A16;
        color: #009A16;
        text-align: center;
    }
}

/* LOG IN CSS */

#loginew {
    border: 1px solid #eee !important;
    border-radius: 8px;
    width: 330px;
    text-align: center;
    background: white;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    h4 {
        margin-top: 10%;
        font-size: 1.1em;
    }
    p {
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
    }
    hr {
        width: 60% !important;
    }
    .checkbox {
        margin-top: -15px;
        margin-bottom: 0;
        span {
            font-weight: normal;
            color: #737373;
            line-height: 58px;
        }
        #checkbox {
            margin-top: 10px;
        }
    }
    a {
        color: #068ad6;
        &:hover {
            color: #003f64;
        }
    }
    #sign-in-btn {
        height: 50px;
    }
}

.loginpage {
    background-color: $background-color;
    .jumbotron {
        padding-left: 0;
        padding-right: 0;
        background-color: white;
        width: 30%;
        border: 1px solid #eee !important;
        h4 {
            text-align: center;
        }
        hr {
            width: 30% !important;
        }
        span {
            margin-left: 5%;
        }
    }
}

div {
    .alert-alert {
        text-align: center;
        color: red;
    }
}

/* Business Page */


/* Home Page */
#home {
    @extend .responsivebox;
    background-color: #F5F5F5;
}

#home-bg {
    background-image: image-url("square_bg.png")
}

/* Mobile CSS */
@media (max-width: 767px) {
    .navactive {
        color: black !important;
    }
    .navbar-nav {
        text-align: center;
    }
}

/* Account Settings */
.sidebar {
    @media (min-width: 768px) {
        padding-top: 15px;
        width: 210px;
    }
    @media (max-width: 767px) {
        padding-top: 15px;
        width: 50px;
    }
    border-right: 1px solid #eee;
    position: fixed;
    height: 100%;
    background-color: white;
    ul {
        margin: 0;
        @media (min-width: 768px) {
            padding-top: 15px;
            width: 210px;
        }
        @media (max-width: 767px) {
            padding-top: 15px;
            width: 50px;
        }
        padding: 0;
    }
    li {
        list-style: none;
        a {
            padding: 10px 3px;
            display: block;
            &:hover {
                border-right: 2px solid $light-blue;
                background-color: #FBFBFB; /* #FDFDFD, #F7F7F7 is good colour combo */
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                text-decoration: none;
            }
            &:active, &:visited, &:focus {
                text-decoration: none;
            }
        }    
    }
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h4 {
        text-align: left;
        padding-left: 3px;
    }
}

.affix {
  position: fixed;
}
.affix-top {
  position: static;
}
.affix-bottom {
  position: absolute;
}

.sidebaractive {
    border-right: 5px solid $light-blue;
    background-color: #073d8d;
    font-weight: bold;
}

.account-settings {
    @media (min-width: 768px) {
        margin-left: 210px;
    }
    @media(max-width: 768px) {
        margin-left: 50px;
    }
    div {
        form {
            margin-right: -10%;
        }
        label {
            /* padding 10px 0 */
            float: left;
            margin-top: 5px;
            font-size: 0.9em;
        }
        .input-lg {
            height: 32px;
            border-radius: 4px;
            width: 60%;
            margin-left: 100px;
        }
        h2 {
           text-align: left;
           font-size: 1.6em;
        }
        .btn-block {
            width: inherit;
            height: 36px;
            margin-top: 10px;
            margin-left: 100px;
        }
    }
    @media (min-width: 768px) {
        .col-sm-5 {
        border-right: 1px solid #eee;
        }   
    }
}

/* Subscription */
.subscription {
    .panel-default {
        border-color: white;
        border-top: 1px solid #eee;
    }
    div {
        div {
            color: #205081;
            .sales {
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 320px;
                height: 450px;
                text-align: center;
                margin-top: 50px;
                h1 {
                    font-size: 6em;
                    font-weight: bold;
                    margin-bottom: -10px;
                    i {
                        position: relative;
                        font-size: 45%;
                        top: -14px;
                    }
                }
                .list-group-item {
                    font-size: 1.2em;
                    border: none;
                    padding: 0;
                    margin-bottom: 13px;
                }
                h3 {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-weight: bold;
                    font-size: 2.2em;
                }
                h4 {
                    margin-bottom: 15px;
                }
                hr {
                    border-top: 1px solid #ccc;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            h4 {
                text-align: center;
                font-size: 1.8em;
            }
            h2 {
                color: #205081;
                font-weight: bold;
            }
            @media (min-width: 768px) {
                h2 {
                    font-size: 2.5em;
                }
            }
            @media (max-width: 767px) {
                h2 {
                    font-size: 2em;
                }
            }
            span {
                
            }
        }
    }
}

.current_plan {
    div {
        div {
            color: #208800 !important;
            h2 {
                color: #208800 !important;
            }
            #expires {
                text-align: center;
                color: #9A0A0A;
                font-size: small;
            }
        }
    }
}

/* FINAL SIDEBAR */
#wrapper {
    @media(min-width:768px) {
        padding-left: 210px;
        &:toggled {
            padding-left: 0;
            #sidebar-wrapper {
                width: 0;
            }
            #page-content-wrapper {
                position: relative;
                margin-right: 0;
            }
        }
        #sidebar-wrapper {
            width: 210px;
        }
        #page-content-wrapper {
            padding: 20px;
            position: relative;
        }
    }
    @media(max-width:767px) {
        padding-left: 50px;
        &:toggled {
            padding-left: 0;
            #sidebar-wrapper {
                width: 0;
            }
            #page-content-wrapper {
                position: relative;
                margin-right: 0;
            }
        }
        #sidebar-wrapper {
            width: 50px;
        }
        #page-content-wrapper {
            padding: 20px;
            position: relative;
        }
    }    
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:toggled {
        padding-left: 210px;
        #sidebar-wrapper {
            width: 210px;
        }
        #page-content-wrapper {
            position: absolute;
            margin-right: -210px;
        }
    }
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 210px;
    width: 0;
    height: 100%;
    margin-left: -210px;
    overflow-y: auto;
    background: #095ddb;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0 0 12px 4px #ababab;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

/* Sidebar Styles */
#sidebar-nav {
    position: absolute;
    top: 20px;
    width: 210px;
    margin: 0;
    padding: 0;
    list-style: none;
    @media(max-width:767px) {
        width: 50px;
    }
    h4 {
        text-align: center;
        font-family: 'Rubik', sans-serif;
        color: #DEEBFF;
        @media(max-width:767px) {
            visibility: hidden;
        }
    }
    hr {
        margin-bottom: -1px;
        margin-top: -1px;
    }
    li {
        text-indent: 10px;
        line-height: 50px;
        @media(max-width:767px) {
            text-indent: 8px;
        }    
        a {
            display: block;
            text-decoration: none;
            color: #DEEBFF;
            font-size: 14px;
            &:hover {
                text-decoration: none;
                border-right: 5px solid $light-blue;
                background-color: #094eb6;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                color: #DEEBFF;
                font-weight: bold;
            }
            i {
                font-size: 22px;
                color: #DEEBFF;
                display: inline-block;
                margin-right: 2px;
                float: left;
                text-align: center;
                width: 33px;
                margin-top: 14px;
            }
            @media(max-width:767px) {
                white-space: nowrap;
                line-height: 32px;
                position: relative;
                i {
                    margin-left: 5px;
                    margin-right: 18px;
                    margin-top: 5px;
                }
            }
            &:active, &:focus {
                text-decoration: none;
            }
        }
    }
    .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
        a {
            color: #999;
            &:hover {
                color: #fff;
                background: none;
            }
        }
    }
}

#sidebar-mobile {
    li {
        width: 50px;
        transition: width 0.3s;
        a {
            background: #333;
            position: relative;
            padding: 6px 27px 6px 8px;
            color: white;
            text-decoration: none;
            line-height: 22px;
            border-top: solid 1px #444;
            border-bottom: solid 1px #222;
            font-size: 14px;
            display: block;
            text-shadow: 1px 1px 1px #222;
            white-space: nowrap;
            overflow: hidden;
            border-radius: 0 5px 5px 0;
        }
    }
}

/* Users/Edit page */
#edituser {
    #editusertitle {
        border-bottom: 1px solid #eee;
        margin-bottom: 30px;
        margin-top: 2px;
        h2 {
            float: left;
            margin-left: 20px;
            font-weight: 700;
            font-size: 2em;
            color: #278ce2;
        }
    }
    .input-lg {
        height: 38px;
        border-radius: 4px;
        width: 300px;
        text-align: left;
    }
    @media(max-width:767px) {
        .input-lg {
            width: 250px;
        }
    }
    .btn-block {
        width: 100px;
        height: 45px;
        margin-top: 10px;
        font-family: Open Sans,sans-serif;
        font-size: 16px;
    }
    label {
        font-family: Open Sans, sans-serif;
        color: #585858;
    }
}

/* Campaigns */

.show-campaign-btns {
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  a {
    display: inline-block;
    font-size: 32px;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 8px;
    transition: all .15s ease;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    }
  }
}

#show-campaign {
  border: 4px solid #999;
  box-shadow: 0 0 14px 5px #ababab;
  width: 560px;
  margin: 0 auto;
  padding: 30px 20px 30px 20px;
}

#campaign-preview {
    background-image: image-url("transp_bg.png");
    border: 1px solid #ddd;
    box-shadow: 0 0 4px 2px #eeeeee;
    height: 666px;
    #preview-title {
        border-bottom: 1px solid #eee;
        background-color: white;
        height: 40px;
        p {
            position: absolute;
            padding: 11px 25px;
            font-size: 16px;
            border-bottom: 4px solid #ddd;
            font-weight: 600;
            color: white;
            background-color: #0c8fff;
        }
    }
    #inside-preview {
        @media (min-width: 768px) {
            border: 4px solid #999;
            box-shadow: 0 0 14px 5px #ababab;
            height: 88%;
            background-color: #fff;
            width: 560px;
            margin: 0 auto;
        }
        @media (max-width: 767px) {
            border: 4px solid #999;
            box-shadow: 0 0 14px 5px #ababab;
            height: 88%;
            background-color: #fff;
            width: 400px;
            margin: 0 auto;
        }
        .descriptors {
            input[type="text"] {
            }
        }
    }
}

#campaign-index {
    #title {
        font-weight: 700;
        color: #278ce2;
        text-align: left;
    }
    #new-campaign {
        white-space: normal;
        padding: 19px 26px;
        font-size: 21px;
        line-height: 21px;
        background: $home-blue;
        color: #fff;
        border: none;
        transition: background 0.3s;
        border-radius: 4px;
        &:hover {
            background: $nav-blue;
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
        }
    }
    h2 {
        color: $campaign-title;
        text-align: left;
    }
    .active-campaigns {
        border-radius: 4px;
        padding: 19px 26px;
        color: #353d41;
        margin-bottom: 20px;
        margin-right: 20px;
        height: 300px;

        background-image: image-url("transp_bg.png"); /* OR #eee */
        box-shadow: 0 0 6px 1px #ababab;
        p {
            color: #353d41;
        }
        .created {
            font-family: 'Rubik', sans-serif;
        }
        a {
            color: #353d41;
        }
        .sub-index-btn {
          display: inline-block;
          margin-right: 20px;
          font-size: 16px;
          padding: 6px 12px;
          text-decoration: none;
          border-radius: 8px;
          transition: all .15s ease;
          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
          }
        }
    }
}

#campaign-new {
    #title {
        font-weight: 700;
        color: #278ce2;
        text-align: left;
    }
    #campaign-form {
        margin-right: 0;
        margin-left: 0;
    }
}

#campaign-editor {
    .editor-btn {
        font-weight: 600;
        font-size: 15px;
        background-color: white;
        color: $light-blue;
        border: 2px solid $light-blue;
        transition: background-color 0.3s, color 0.3s;
        margin-top: 5px;
        &:active, &:hover, &:focus {
            background-color: $light-blue;
            color: white;
        }
    }
    #create-new-campaign {
        background-color: #58b2ff;
        color: white;
        padding: 10px 15px;
        border-radius: 6px;
        border: 2px solid #58b2ff;
        margin-top: 5px;
        font-weight: 600;
        font-size: 15px;
        transition: all .15s ease;
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
            background-color: white;
            color: #58b2ff;
        }
    }
    #campaign-settings {
        font-size: 22px;
        letter-spacing: -2px;
        color: #2e2a39;
        text-align: left;
        margin-bottom: 15px;
    }
    .campaign-settings-scroll {
        overflow-y: scroll;
        height: 50vh;
    }
    .checkbox-settings {
        padding: 4px 0px;
        list-style: none;
        display: inline-block;
        width: 100%;
        input[type="checkbox"] {
            vertical-align: middle;
        }
        label {
            margin-bottom: 0;
            vertical-align: middle;
            font-family: 'Rubik', sans-serif;
            font-size: 15px;
            font-weight: normal;
            margin-top: 7px;
            color: #2e2a39;
        }
        span {
            float: right;
        }
    }
    .label-settings {
        font-family: sans-serif;
        font-size: 18px;
        font-weight: normal;
        border-bottom: 1px solid #eeeeee;
        color: #0c8fff;
    }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white !important;
    background-color: $light-blue !important;
}

form input {
    border: 1px solid #ccc;
    height: 40px;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 7px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    border-radius: 6px;
}

.campaign_input_field {
    input[type="email"]:focus, input[type="text"]:focus {
        border-color: rgba(169, 68, 66, 1);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(169, 68, 66, 1);
        outline: 0 none;
    }
}